<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= addresses[selectedAccount].addr.substring(0,12) %>... <span class="badge"><%= bundle.utility.weiToEth(addresses[selectedAccount].balance) %> eth</span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <% addresses.forEach(function(address, i, array) { %>
      <li><a href="#" onclick="bundle.Main.selectAccount(<%= i%>);"><%= address.addr %> <span class="badge"><%= bundle.utility.weiToEth(address.balance) %> eth</span></a></li>
    <% }); %>
    <li role="separator" class="divider"></li>
    <li><a href="#" onclick="bundle.Main.createAccount()">Create account</a></li>
    <li><a href="#" data-toggle="modal" data-target="#account_modal">Import account</a></li>
    <li><a href="#" onclick="bundle.Main.showPrivateKey()">Export private key</a></li>
    <li><a onclick="bundle.Main.shapeshift_click(this, event);" href="https://shapeshift.io/shifty.html?destination=<%= addresses[selectedAccount].addr%>&amp;output=ETH&amp;amount=">Deposit with ShapeShift.io</a></li>
    <li><a href="#" onclick="bundle.Main.deleteAccount()">Forget current account</a></li>
    <li><a href="#" onclick="bundle.Main.logout()">Forget all accounts</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="javascript:;" onclick="bundle.Main.resetCaches();">Reset caches</a></li>
  </ul>
</div>
